body{
	background-color: #2e2e2e;
	font-family: 'Impact';
}

p{
	color:white;
	opacity:0.5;
}

.textBox{
	width:90%;
	position:fixed;
	margin-top: 10vh;
	margin-left :5%;
}

.title{
	font-size:21vw;
}

.caption{
	font-size: 6vw;
}

.num{
	color: olive;
	font-size: 10vw;
}

canvas{
	z-index: 5;
}
